

@{
    ViewData["Title"] = "Profile";
}

<script type="text/javascript">

    let PostText = ""
    const BadWords = ['shit', 'ass', 'fuck', 'gay', 'damn', 'bastard', 'bitch', 'cunt', 'poop', 'nigg', 'cock','dick', 'retard', 'pussy']


    const HandleText = () => {


        let str = PostText.toLowerCase()
        let bad = false
        for (let i = 0; i < BadWords.length; i++) {
            if (str.includes(BadWords[i])) {
                bad = true
            }
        }
        if (bad === true) {
            alert('Post contains inappropriate content')

        }
        else {
            Post()
        }

    }

    const UpdatePostTex = () => {
        PostText = document.getElementById("PostText").value;
    }


    const Post = () => {
        alert(PostText)
        console.log(PostText)
    }

</script>

<div class="columns">
    <div class="column is-one-third">
        <div class="filters-container">
            <div class="columns is-centered">
                <h1 class="is-size-1 is-weight-bold has-text-black">@Model.Name</h1>
                <hr>
            </div>
            <div class="columns is-centered">
                <p>
                  @Model.AboutMe

                </p>
                <hr>
            </div>
            <div class="columns is-centered">
                <p>
                  Date Joined: @Model.DateCreated

                </p>
                <hr>
            </div>
          </div>
          <div class="filters-container">
            <div class="columns is-centered">
                <h1 class="is-size-1 is-weight-bold has-text-black">View:</h1>
                <hr>
            </div>
            <div class="columns is-centered">
                <button class="button is-Flutter is-long">Posts</button>
                <hr>
            </div>
            <div class="columns is-centered">
                <button class="button is-Flutter is-long">Comments</button>
                <hr>
            </div>
            <div class="columns is-centered">
                <button class="button is-Flutter is-long">By Likes</button>
                <hr>
            </div>
            <div class="columns is-centered">
                <button class="button is-Flutter is-long">By Comments</button>
                <hr>
            </div>
            <div class="columns is-centered">
                <button class="button is-Flutter is-long">By Date</button>
                <hr>
            </div>

        </div>
    </div>

    <div class="column is-one-third is-post-container">
        <textarea class="textarea" placeholder="Your post here" id="PostText" onchange="UpdatePostTex()"></textarea>
        <button class="button is-Flutter" onclick="HandleText()">Post</button>
        <div class="is-post">
          @if (@Model.Posts !- null)
          {
            @foreach (var post in @Model.Posts)
            {
            <strong>@post.UserID</strong>
            <p><img src="../batpost.png" alt="little bat head" class="is-post-icon">
                @post.Content

            </p>
            <button class="button is-Flutter">Comment</button>
            <button class="button is-Flutter">Like</button>
            }
          }
        </div>


    </div>
</div>
